@font-face {
  font-family: "Avenir Next W00";
  src: url('Font/avenir-next/AvenirNextLTPro-It.otf'), url('Font/avenir-next/AvenirNextLTPro-Bold.otf'), url('Font/avenir-next/AvenirNextLTPro-It.otf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next W00", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 400;
  background-color: #fff;
  
}

html,body {
  height: 100%;
  width: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  padding: 10px 0 0 10px;
  
}

#lstServices {
  grid-column: 2;
  grid-row: 1 / 2;
  width: 26rem;
  font-family: inherit;
  font-size: 1.4rem;
}

#toc {
  grid-column: 1;
  grid-row: 2 / 4;
  padding: 20px 20px 0 10px;
  border: 1px solid #aaa;
}

#mapview {
  grid-column: 2;
  grid-row: 2 / 3;
  border: 1px solid #aaa;
  border-left: 0;
}

#attribute-table {
  grid-column: 2/3;
  grid-row: 3/4;
  
}

#toc ul {
  margin-left: 30px;
}

#toc li {
  list-style-type: none;
  font-size: 1.4rem;
  margin-bottom: 5px;
  
}

#toc li input {
  margin-right: 5px;
}

#toc ul:first-child {
  margin-left: 0;
}

#basemap-list {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 12em;
  font-family: inherit;
  font-size: 1.4rem;
}

table {
  font-size: 1.4rem;
  border-collapse: collapse;
}

table, tr {
  width: 100%;
  font-family: inherit;
}

table, th, td {
  border: 1px solid #aaa; 
}


/*
#basemap-btns button {
  display: inline-block;
  outline: 0;
  margin: auto 10px 10px auto;
  padding: 3px 8px;
  border: 1px solid transparent;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  color: #555;
  border-color: #aaa;
  background-color: transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .5rem;
}

#basemap-btns button:hover {
  color: #fff;
  background-color: #555;
  border-color: #aaa;
} */

