@font-face {
  font-family: "Avenir Next W00";
  src: url("Font/avenir-next/AvenirNextLTPro-It.otf"),
    url("Font/avenir-next/AvenirNextLTPro-Bold.otf"),
    url("Font/avenir-next/AvenirNextLTPro-It.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next W00", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 400;
  background-color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 500px;
  row-gap: 10px;
  padding: 10px 0 0 10px;
}

#lstServices {
  grid-column: 2;
  grid-row: 1 / 2;
  width: 260px;
  font-family: inherit;
  font-size: 1.4rem;
}

#toc {
  height: 500px;
  grid-column: 1;
  grid-row: 2 / 3;
  padding: 20px 0 0 10px;
  border: 1px solid #aaa;
}

#mapview {
  height: 500px;
  width: 700px;
  grid-column: 2;
  grid-row: 2 / 3;
  border: 1px solid #aaa;
  border-left: 0;
}

#toc li {
  list-style-type: none;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

#toc li input {
  margin-right: 5px;
}

#basemap-list {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 13rem;
  font-size: 1.4rem;
}
